.newTweet {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.handle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.input {
    margin-left: 40px;
    margin-bottom: 12px;
}



h3{
    font-size: 18px;
    margin: 0px;
}
tweetTable {
    padding: 10px;
}