.handle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.handle h3 {
    font-size: 14px;
    margin-left: 10px;
}

.tweet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
}

.tweet p{
    text-align: left;
}
